*{
    --colorBackground:#161616;
    --colRevealOcra: #544c26;
    --colRevealRosso: #6c2e13;
}
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    background: var(--colorBackground);
    /*height: 1600px !important; */
}

body {
    box-sizing: border-box;
    padding: 0 120px;
    overflow-x: hidden;
}

.content {
    width: 70%;
    margin: 200px auto;
}
h1,p,a{ color:var(--colorBackground) /* proprietà riscritta poi */ }
img{ max-width: 60vw }
footer img { padding: 1.0em; width:2em; filter: invert(1); }
.text > img{ width: 1em; height: 1em; opacity: 0; } 